<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vCAN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .response {
            white-space: pre-wrap;
            font-family: Consolas;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <div class="form-group">
                <label for="address">IP/Domain</label>
                <input id="address" v-model="address" placeholder="example.com" class="form-control" v-on:keypress="run" :disabled="load" />
            </div>
            <div v-if="results.length !== 0">
                <span v-if="ip !== null">This domain resolves to <a href="javascript:void(0)" v-on:click="lookupIP">{{ ip }}</a>.</span>
                <div><code>{{ remarks }}</code></div>
                <br /><select v-model="tab">
                    <option value="dig">Dig Results</option>
                    <option value="whois">WHOIS Results</option>
                </select>
                <hr />
                <div v-if="tab === 'whois'">
                    <h3>Query Results ({{ currentAddr }})</h3>
                    <div v-for="r in results">
                        Server: <code>{{ r.server }}</code>
                        <div class="response">{{ r.response }}</div>
                        <hr />
                    </div>
                </div>
                <div v-if="tab === 'dig'">
                    <h3>Dig Result ({{ currentAddr}})</h3>
                    <div class="response">{{ dig }}</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var hook = parent.triggerHook;
        var app = new Vue({
            el: '#app',
            data: {
                results: [],
                address: "",
                currentAddr: null,
                load: false,
                ip: null,
                remarks: null,
                dig: null,
                tab: "dig"
            },
            methods: {
                run(e) {
                    if(e.key !== "Enter") return;
                    this.load = true;
                    this.results = [];
                    this.ip = null;
                    hook("whois", {address: this.address}).then(e => {
                        this.results = e.response.hops;
                        this.load = false;
                        this.ip = e.response.dns;
                        this.currentAddr = this.address;
                        this.address = "";
                        this.remarks = e.response.remarks;
                        this.dig = e.response.dig;
                        console.log(e.response);
                    });
                },
                lookupIP() {
                    this.address = this.ip;
                    this.run({key: "Enter"});
                }
            }
        })
    </script>
</body>
</html>